.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0;
  height: 100%;
}

.logo {
  width: auto;
  height: 50px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.links .link {
  list-style: none;
  font-size: 15px;
}

.link:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
  transition: 0.2s;
}
